

.dice-section{
    
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice{
    width: 80px;
    margin: 10px;
}

.dice-btn{
    margin-top: 10px;
    padding: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: brown;
}

.dice-btn button {

    width: 150px;
    height: 25px;
    border-style: flat;
}