
.sky{
    background-color:aqua;
}

.ground{
background-color: chocolate;
}
.rock{
background-color: gray;
}
.wood{
background-color: orange;
}
.leafs{
background-color: greenyellow;
}
.cloud{
    background-color: aliceblue;
}

.blank{
    background-color: black;;
}

#tool1{
    background-color: burlywood;
}

#tool2{
    background-color: burlywood;

}

#tool3{
    background-color: burlywood;
}

