
#navbar{
    width: 100px;
}

/* --------------------------------------------------Main Grid */

.grid {

    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(8 ,1fr);

    background-color: aquamarine;
}
