
/* catigory-pagination*/

#catigory-pagination {
    font-size: var(--font-size-1);
    margin-bottom: 10px;
}


#edition{
color: gray;
}

#stars {
    color: var( --orange-color);
}


/* Main Grid */

.grid {
}



/*Main sidebar*/

#item-img{

    width: 30%;

}

#sidebar-socials ul  {
    display: flex;
}
#sidebar-socials ul li {
    margin-right: 5px;
    list-style: none;
}

#sidebar-add-to-list-btn {
    margin: 15px 0 15px 0 ;
}


#sidebar-add-to-list-btn a {
    text-decoration: none;
    padding: 5px 213px 10px 5px;
    background-color: whitesmoke;
    color: black;
    border: 1px solid gray;


}

#sidebar-bottom-adds{

    width: 30%;
    height: 150px;

    border: 4px solid gray;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

#sidebar-bottom-adds a {
    text-decoration: none;

}

#sidebar-bottom-adds img {
    width: 180px;
}

#sidebar-bottom-adds-btn {

    border: 1px solid gray;
    padding: 7px 50px;
    border-radius: 12px;
}
