
*{
    padding: 0;
    margin: 0;
}


#game-page{

    display: flex;
    margin: 10px;
}


#game-menu{
    width: 50%;
    height: 100%;
    border: 2px solid red;
    margin-left: 5px;

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    max-height: 600px;
    width: 200px;


    

}

#game-menu div{
    border: 2px solid red;
    margin-top: 10%;
    width: 10vw;
    height: 10vw;
    
}

#game-menu button{
    margin-top: 10%;

}


#game-board{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
    background-color: black; 
    height: 100vh;
    height: 100vw; */
    /* max-height: 700px; */

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20 , 1fr);
    border: 2px solid red;
    width: 100%;

    
}

.cell{
    background-color: blue;
}

.cell:hover{
    background-color: antiquewhite;
}


