
#mobile-nav{
    display: none;
}

#navabr{
    
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: nowrap;

color: var(--praimary-color);
background-color: var( --dark-blue-color);

font-size: var( --font-size-01);


}

.nav-item a{
    text-decoration: none;
    color: var(--praimary-color);
}

.nav-item {

    padding: 0.5vw;
    
}

.nav-item:hover{
    border: 1.5px solid white;
}


.logo img {
    height: 30px;
}



#search-bar{
    width: 68vw;
}

#search-bar:hover{
    border: none;
}

#books{
    width: 70px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: aliceblue;
    height: 40px;
}
#books:focus{
    border:3px solid orange;
}

#search{
    border: none;
    outline: none;

    height: 40px;
    width: 80%;
    max-width: 100%;
    min-width: 10vh;

    
}

#search:focus{
    border:3px solid orange;

}

#search-btn {
    height: 40px;
    width: 50px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: orange;
    padding-left: 0;
    margin-left: 0;   
}


#search-btn:hover{
    background-color: rgb(148, 103, 20);
}

#cart{
    margin-right: 10px;
}


