* {
  margin: 0;
  padding: 0;
}

.img {
  width: 300px;
  height: 300px;
  margin: 50px auto 30px auto;
}

body {
  color: #444;
  font-size: 20px;
  font-weight: lighter;
  font-weight: normal;
  text-align: center;
  width: 100%;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.not-found--links {
  margin-top: 25px;
  font-size: 14px;
  font-weight: bolder;
}

#words1 {
  margin-bottom: 55px;
}

.not-found li {
  margin-top: 5px;
}

a {
  text-decoration: none;
  font-weight: lighter;

  font-size: 16px;
}
