:root {

    --dark-blue-color : #131921 ;
    --light-blue-color : #232F3E ;
    --dark-gray-color : #F9F9F9;
    --light-gray-color : #FAFAFA;
    --praimary-color: #FFFFFF ;

    --yellow-color : #FFD814 ;
    --orange-color : #FFA41C ;


    --font-size-1: 13px ;

    --font-size-2: 16px ;



}