


.header{

    box-sizing: border-box;
    background-color: blue;
    color: aliceblue;
    /* height: 3rem; */
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.header-item{

    color: aliceblue;
    padding: 20px;


}

.header-item:hover{
    background-color: azure;
    color: black;
}
.new-item{
    background-color: green;

}