
.sky{
    background-color:aqua;
}

.ground{
background-color: chocolate;
}
.rock{
background-color: gray;
}
.wood{
background-color: orange;
}
.leafs{
background-color: greenyellow;
}

.blank{
    background-color: black;;
}

#tool1{
    background-color: burlywood;
}

#tool2{
    background-color: red;

}

#tool3{
    background-color: green;

}

