


#spinner{

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aliceblue;
  
    font-size: 50px;
}


#countiresChart{
    width: 100%;
}

#status-btns{

    display: flex;
    justify-content: center;
    margin: 10px;
}
#continents-btns{

    display: flex;
    justify-content: center;
    margin: 10px;
}


#countries-list{
    display: flex;
    flex-wrap: wrap;
}

.country-item{

    margin: 10px;
}

.country-item:hover{
    cursor: pointer;
    background-color: antiquewhite;
}

#info-bar{

    display: flex;
    justify-content: space-evenly;
}

